@model AnagramSolver.WebApp.Logic.PaginatedList<AnagramSolver.Contracts.Models.WordModel>
@{
    ViewData["Title"] = "Dictionary";
}

<h1>Dictionary</h1>
<br>
<p style="color:red">@ViewData["Error"]</p>

<br>
<a asp-action="WordAddition"> Add new word</a>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<br>
<br>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<br>
<br>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
<br>
<br>
<table class="table">
    @foreach (var word in @Model)
    {
        <tr>
            <td> <a asp-action="Anagrams" asp-route-word="@word.Word"> @word.Word</a> </td>
            <td> @word.LanguagePart</td>
            <td>
                <a asp-action="DeleteWord"
                   asp-route-word="@word.Word"
                   asp-route-pageNumber="@(Model.PageIndex)"
                   asp-route-searchString="@ViewData["CurrentFilter"]"> Delete</a>
            </td>
            <td> <a asp-action="UpdateWord" asp-route-word="@word.Word"> Update</a> </td>
        </tr>
    }
</table>