@model AnagramSolver.WebApp.Logic.PaginatedList<AnagramSolver.Contracts.Models.Anagram>
@*@model List<AnagramSolver.Contracts.Models.Anagram>*@

@{
    ViewData["Title"] = "Dictionary";
}

<h1>Dictionary</h1>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
<br><br>
<table class="table">
    @foreach (var word in @Model)
    {
        <tr>
            <td> @word.Word</td>
            <td> @word.LanguagePart</td>
            @*<td>
                    <a class="btn btn-lg" asp-page="./Detail"
                       asp-route-restaurantId="@restaurant.Id"></a>
                    <a class="btn btn-lg" asp-page="./Edit"
                       asp-route-restaurantId="@restaurant.Id"> <i class="glyphicon glyphicon-edit"></i></a>
                </td>*@
        </tr>
    }
</table>